extends layout

block content
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet' href='../../stylesheets/newUser.css')
	.navbar
		a.active(href= '/user' )
			i.fa.fa-fw.fa-home
			| Домой
		.topnav-right
			a(href='#' onclick="document.getElementById('id03').style.display='block'")
				i.fa.fa-fw.fa-user-times
				| Удалить аккаунт
			a(href='/user/exit')
				i.fa.fa-fw.fa-sign-out
				| Выйти

	h1 Добро пожаловать в "Мой сад" 
	p У вас есть всего  растений: #{countplants}
	p У вас есть разных типов растений: #{counttypeplants}
	p Вы потратили на приобретение растений: #{summoney} руб.
	button.btnaddtree(onclick = "window.location.href='/user/addplant'")
		i.fa.fa-tree
		|  Добавить расстение
	.search-container
			input.inputFilter(type='text' placeholder='Поиск..' name='search' id='inpfield')
			button(type='submit' onclick="setfilter()")
				i.fa.fa-search
			script.
				function setfilter(){
					const x = document.getElementById('inpfield').value;
					document.location.href= '/user?f='+x;
				}
				
	table(style='width:100%', border='1')
		tbody
			each item in cursor
				tr 
					td(style='width:1%')
						img(src='data:image/jpeg;base64, '+item.img, , width = '150px')
					td(class='tdinfo')
						p Наименование: <strong>#{item.name}</strong>
						p Латинское наименование: <strong>#{item.name_lat}</strong>
						a(href = item.url) Википедия
						p Количество расстений: <strong>#{item.colplant}</strong>
						p Всего потрачено на приобретение: <strong>#{item.totalsum}</strong>
						.navbar(style='vertical-align:bottom')
							.topnav-right
								a(href='/user/delplant/?p='+item.id)
									i.fa.fa-minus-square
									|  Выбытие растения
								a(href='/user/detail/'+item.id)
									i.fa.fa-list-ol
									|  Показать движение по приходу/уходу
	//p #{infotext}
	h3 конец страницы
	
	#id03.modal
		form.modal-content.animate(method='post', enctype= 'aplication/json'  action='/user/deluser')
			.container
				h3 Удаление учетной записи пользователя
				h1 Будет удалена все информация связанная с данной учетной записью, а также сама учетная запись без возможности восстановления.
				//.container(style="background-color:#f1f1f1")
				button.cancelbtn(type='submit' id='bSubmit1') Удалить все информацию
				button(type='button' onclick="document.getElementById('id03').style.display='none'") Отменить
				script.
					var modal = document.getElementById('id03');
					window.onclick = function(event) {
					if (event.target == modal) {
					modal.style.display = "none";
					}
					}
	include ./btStatus.pug
